.add_spice_form {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

.add_spice_form > input {
  margin-top: 5%;
  margin-bottom: 5%;
}

.add_spice_form_button_div {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add_spice_form_button {
  border: 2px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 1rem;
  margin-bottom: 5%;
  background-color: #f6ae2d;
  font-weight: bolder;
  text-align: center;
  align-self: center;
}

@media only screen and (min-width: 750px) {
  .add_spice_form_button_div {
    margin: auto;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  @media only screen and (min-width: 1000px) {
    .add_spice_form > input {
      font-size: 1.2rem;
      width: 60%;
      margin: auto;
      margin-bottom: 3%;
      margin-top: 3%;
    }
  }
}
