.segment_main {
  height: 10%;
  width: 51px;
  align-self: center;
  /* background-color: lightgrey; */
  /* border-bottom: 1px solid black; */
}

.active {
  background-color: orange;
}

.top {
  background-color: orangered;
}

/* .segment_main:hover {
  background-color: orangered;
} */
