.form_main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: left;
}

.form_error {
  font-weight: bolder;
  color: red;
  text-shadow: 1px 1px black;
}

.form_input {
  margin-bottom: 5%;
  height: 30px;
  width: 97%;
}

.form_label {
  margin: auto;
}

.form_title {
  margin-bottom: 0;
}

.form_button {
  border: 2px solid black;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  font-size: 1rem;
  margin-bottom: 10%;
  background-color: #f6ae2d;
  font-weight: bolder;
  text-align: center;
  align-self: center;
}
