.spice_main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

.spice_individual {
  display: flex;
  flex-direction: row-reverse;
  height: 100px;
  justify-content: space-around;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 5%;
}

.spice_header {
  height: 100%;
  width: 15px;
  margin-top: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  text-align: left;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  margin: auto;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.spice_header_favorite {
  width: 15px;
  height: 15px;
  border: none;
}
