.box_main {
  background-color: lightgray;
  width: 50px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  border: 2px solid #607196;
}

.changed {
  border: 2px solid red;
}
