.tutorial_title {
  text-align: center;
  background-color: inherit;
}

.tutorial_image {
  width: 100%;
  border-bottom: 2px solid #f6ae2d;
}

.tutorial_main {
  text-align: left;
}

.first_p {
  border-bottom: 2px solid #f6ae2d;
}

.tutorial_header {
  margin: 3%;
}

.tutorial_copy {
  text-align: justify;
  margin: 3%;
  padding-bottom: 3%;
  color: #f4c430;
  line-height: 1.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  width: 90%;
}

.tutorial_button_div {
  text-align: center;
}

.tutorial_button_register {
  border: 2px solid black;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  font-size: 0.7rem;
  margin-bottom: 5%;
  background-color: #f6ae2d;
  font-weight: bolder;
  text-align: center;
  align-self: center;
  margin: auto;
}
