.App {
  text-align: center;
  font-family: "Lato", sans-serif;
  margin-top: 0%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Anton", sans-serif;
  font-weight: lighter;
  color: #f6ae2d;
  text-shadow: 2px 2px black;
}
